*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #39393933;

}
.rect{
width: 20%;
    border-left: 4px solid orange;
    height: 20%;
    border-top: 4px solid orange;
margin-left: -15%;
}
.rect3{
    width: 20%;
        border-right: 4px solid orange;
        height: 20%;
        border-top: 4px solid orange;
    margin-left: 100%;
    margin-top: -14%;
    }
.rect2{
    width: 20%;
    border-right: 4px solid orange;
    height: 20%;
    border-bottom: 4px solid orange;
    margin-left: 100%;
    margin-top: -5%;
}
.rect4{
    width: 20%;
    border-left: 4px solid orange;
    height: 20%;
    border-bottom: 4px solid orange;
    /* margin-left: 100%; */
    margin-top: -14%;
    margin-left: -13%;
}


/* index.css */
.image{
    width: 50%;
    margin-top: 6%;
    margin-left: -15%;}

.container{
    display: flex;
    justify-content: space-between;
}
.main_content{

    padding: 1.5rem;
    border-radius: 30%;

    line-height: 5px;

    color: rgb(105, 56, 92);

    font-size: larger;
    margin-top: -25%;
}
.middle_container{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: rotateX(20deg);

}
.middle_container:hover{
    transform: rotateX(40deg);
}
.middle_container .role1{
    display: none;
}

@media (max-width: 750px) {
    .container{

        justify-content: space-between;
    }
    .right_container nav{
        display: none;

    }

    .middle_container{

font-size: small;
    }
    .image img{
        width: 130%;
    }
}



/* navbar.css  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105, 56, 92);
    color: whitesmoke;
}

.logo{
    padding: 1rem;
    padding-left: 1.5rem;
}

.logo img{
    width: 20%;
}

.nav_links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.nav_links li{
    list-style: none;
}

.nav_links li a{
    text-decoration: none;
    padding: 1.5rem;
    color: white;
    font-size: large;
    display: block;
}

.nav_links li:hover{
    background-color: rgb(160, 89, 141);
}
.nav_links li a:hover{
    font-size: larger;
    color: #7BF1A8;

}




/* about.css */
.about_l{
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: rotateX(30deg);
}
.about_l:hover{
    transform: rotateX(20deg);
    
}

.about_l .skills{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    
}

.about_l .skills p{
    margin: .5rem;
    padding: .3rem 1rem;
    border: 2px solid rgb(105, 56, 92);
    border-radius: 10px;
}
.about_l .skills_2{
    width: 49%;
}
.skills a{
    text-decoration: none;
    color: rgb(105, 56, 92);
    font-weight: 600;
}
.about_l .download input{
    margin-top: 1rem;
    padding: .6rem;
    width: 10vw;
    border: none;
    background-color: rgb(105, 56, 92);
    color: white;
    border-radius: 10px;
}

.about_l .download input:hover{
    cursor: pointer;
}
.about_r{
    margin-left: 15%;
    margin-top: -3.7%;
}
.about_r img{
    background-color: rgba(105, 56, 92, 0.4);
    border-radius: 50%;
    margin-top: 15%;
    height: 85vh;
    transform: scaleX(-1);
}

/* education.css */

.p_edu{
    margin-top: -1rem;
    font-weight: 700;
    font-size: revert;
}
.card_edu{
    width: 110%;
    border: none;
    margin: 3rem;
   
}

.card_edu h3{
    font-size: x-large;
}

.cards_edu{
    margin-left: -10rem;
    
}


/* projects.css  */
.cards{
    display: flex;
    flex-direction: column;
}

.card{
    border: 2px solid rgb(105, 56, 92);

    padding-left: .6rem;
    padding-right: .6rem;

    margin: .6rem;
    margin-right: 3rem;
    border-radius: 20px;
    color: rgb(105, 56, 92);
    
}
.card:hover{
    transform: rotateX(20deg);
}

.card_l{
    text-align: left;
    transform: rotateX(35deg);
}
.lang{
    margin-top: -1.1rem;
    font-style: italic;
}
.card_r{
    text-align: right;
    transform: rotateX(35deg);
}



/* contact.css */

.content{
    display: flex;
    justify-content: space-between;
    color: rgb(105, 56, 92);
}

.left{
    width: 35%;
    text-align: center;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    color: rgb(105, 56, 92);
}
.left a{
    padding: .5rem;
}
.left a img{
    width: 48px;
    height: 48px;
}

.line{
    border-left: 6px solid rgb(105, 56, 92);

    height: 50vh;

    position: relative;
    margin-top: 21vh;
}

.right{
    width: 55%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact input{
    padding: .5rem 1rem;
    margin: .8rem;
    height: 45px;
    width: 400px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.contact button{
    width: 30%;
    height: 35px;
    border-radius: 8px;
    margin: auto;
    border: none;
    margin-top: 10px;
    background-color: rgb(105, 56, 92);
    color: white;
    font-size: large;
    
}

.contact button img{
    height: 15px;
    width: 15px;
    color: white;
    margin-left: 13px;
    filter: opacity(1) drop-shadow(0 0 0 white); 
    
}

.contact button:hover{
    cursor: pointer;
    font-size: larger;
    background-color: #cd8ebc;
    color: rgb(105, 56, 92);
    font-weight: 700;
}

.footer{
    padding: 5px;
    margin-top: 2rem;
    text-align: center;
    background-color: rgb(105, 56, 92);
    color: #d7d7d7;

}



@media (max-width : 700px) {
    .menu{
        display: flex;
    }
    .nav_links{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .nav_links ul{
        width: 100%;
    }
    .nav_links li{
        text-align: center;
    }
    .nav_links li a{
        padding: .5rem 1rem;
    }
    .logo img{
        width:30%;
        margin: auto;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        height: auto;
    }
    .right{
        width: 65%;
    }
    .cards{
        margin-top: 45%;
    }
    .line{
        display: none;
    }

    .skills{
        width: 100%;
        justify-content: center;
    }
    .about_r{
        width: 50%;
    }
    .about_l{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .about_r img {
        width: 100%;
        height: auto;
    }
    .about_l .download input{
        width: 20vw;
    }
    
}



@media (max-width: 557px) {
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .middle_container{
        font-size: small;
        margin-top: 15%;
    }
    .rect2{
        margin-top: -4%;
    }
    .rect4{
        margin-top: 0;
    }
    .nav_links li a{
        font-size: small;
    }
    .main_content h5{
        font-size: 12px;
    }
    .main_content h4{
        font-size: small;
    }
    .about_l{
        width: 82%;
    }
    .skills{
        width: 100%;
        justify-content: center;
    }
    .about_r{
        width: 50%;
    }
    .about_r img {
        width: 100%;
        height: auto;
    }
    .about_l .download input{
        width: 25vw;
    }
    .middle_container .role1{
        display: block;
    }
    .middle_container .role{
        display: none;
    }
}
@media (max-width: 350px) {
    .nav_links li a{
        font-size: x-small;
    }
    .about_l{
        width: 100%;
    }
    .about_r{
        width: 50%;
    }
    .about_r img {
        width: 100%;
        height: auto;
    }
    .about_l .skills{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card_edu{
        font-size: smaller;
    }
    .about_l .download input{
        font-size: small;
        width: 30vw;
    }
}
